.row,
.col {
	margin-top: 0;
}

.form-section {
	border: 0.3rem solid #f2d27b;
	padding: 2rem;
}

.add-recipe-button {
	justify-content: flex-end;
}

@media (max-width: 576px) {
	.container.add-recipe {
		margin-left: 0;
	}
}
