.row,
.col {
	margin-top: 0;
}

.form-section {
	border: 0.3rem solid #f2d27b;
	padding: 2rem;
}

.form-control {
	margin-top: 0;
}

.form-group p {
	margin: 0;
}

.list-inputs {
	margin-top: 1rem;
}

.form-subtitle {
	margin: 0;
	font-size: 1.8rem;
}

.form-label {
	font-size: 1.5rem;
}

@media (max-width: 765px) {
	.container.add-recipe {
		margin: 0 auto;
		margin-top: 4rem;
	}
}
