.container.recipe {
	max-width: 91rem;
	padding-left: 8vw;
	padding-right: 8vw;
	margin-top: 4rem;
}

.recipe h1 {
	text-transform: capitalize;
}

.recipe-container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas:
		"a b"
		"c c";
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.recipe-container > * {
	margin-top: 0;
	border: 0.3rem solid #f2d27b;
}

.recipe-container > section {
	padding: 2rem 3rem;
}

.recipe-container p::first-letter {
	text-transform: uppercase;
}

.img-container {
	min-height: 500px;
	background-color: #f2d27b50;
	overflow: hidden;
	grid-area: a;
	display: grid;
	justify-content: center;
	position: relative;
}
.img-container img {
	width: auto;
	height: 100%;
}

.img-attribution {
	background-color: #00000077;
	color: white;
	position: absolute;
	font-size: 0.9rem;
	font-style: italic;
	bottom: 0;
	padding: 0 0.5rem;
}

.img-container:hover .img-attribution {
	background-color: #000000bb;
}

.img-attribution a {
	font-size: inherit;
	color: inherit;
}

.ingredients-container {
	grid-area: b;
	text-transform: capitalize;
}

.instructions-container {
	grid-area: c;
}

.recipe-container li {
	margin-left: 2rem;
	font-size: 1.375rem;
}

.recipe-container li:last-child {
	margin-bottom: 1rem;
}

.recipe > .flex-content {
	justify-content: flex-end;
}

@media (max-width: 900px) {
	.container.recipe {
		max-width: 90vw;
		padding-left: 0;
		padding-right: 0;
	}

	.recipe-container {
		grid-template-areas:
			"a"
			"b"
			"c";
		grid-template-columns: 1fr;
	}

	.img-container {
		min-height: 160px;
		display: block;
	}
	.img-container img {
		width: 100%;
	}
}
