.container {
	width: 90vw;
	margin-left: 8vw;
}

.flex-content form {
	max-width: 70vw;
	width: 100%;
}

.recipes-container {
	text-align: left;
	width: 100%;
	height: 100%;
	position: relative;
}

.recipe-scroll-wrapper {
	overflow-x: scroll;
	white-space: nowrap;
	position: relative;
	max-width: 90vw;
}

.recipe-scroll-wrapper::-webkit-scrollbar {
	/* width: 10px; */
	height: 15px;
}

.recipe-scroll-wrapper::-webkit-scrollbar-track {
	background-color: #f2d27b55;
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

.recipe-scroll-wrapper::-webkit-scrollbar-thumb {
	background: #15161a;
	border-radius: 10px;
}
.recipe-scroll-wrapper::-webkit-scrollbar-thumb:hover {
	background: #101014;
}

.recipe-card {
	display: inline-block;
	max-width: 500px;
	margin: 1rem;
	padding: 2rem;
	padding-top: 0;
	padding-right: 0;
	border-left: 2px solid #f2d27b;
	border-right: 2px solid transparent;
	text-transform: capitalize;
}

.recipe-img-container {
	width: 400px;
	height: 260px;
	overflow: hidden;
}

.recipe-card img {
	width: 100%;
	height: auto;
}

.recipe-card-link {
	display: block;
	position: static;
	width: fit-content;
}

.recipe-card-link::before {
	cursor: pointer;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	width: 400px;
	height: 100%;
}

@media (max-width: 576px) {
	.recipe-img-container {
		width: 60vw;
		height: auto;
	}

	.recipe-card-link::before {
		width: 60vw;
	}
}
