.container.recipes {
	width: 90vw;
	margin-left: 8vw;
}

.flex-content > form {
	max-width: 70vw;
	width: 100%;
	margin-top: 0;
	text-align: center;
}

form.flex-content {
	justify-content: space-around;
}

.recipes-container {
	text-align: left;
	width: 100%;
	height: 100%;
	position: relative;
}

.recipe-scroll-wrapper {
	overflow-x: scroll;
	white-space: nowrap;
	position: relative;
	max-width: 90vw;
	min-height: 350px;
	scroll-snap-type: x mandatory;
}

.recipe-scroll-wrapper::-webkit-scrollbar {
	height: 15px;
}

.recipe-scroll-wrapper::-webkit-scrollbar-track {
	background-color: #f2d27b55;
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

.recipe-scroll-wrapper::-webkit-scrollbar-thumb {
	background: #15161a;
	border-radius: 10px;
}
.recipe-scroll-wrapper::-webkit-scrollbar-thumb:hover {
	background: #101014;
}

.recipe-card {
	position: relative;
	display: inline-block;
	max-width: 500px;
	margin: 1rem 2rem;
	padding: 2rem;
	padding-top: 0;
	padding-right: 0;
	border-left: 2px solid #f2d27b;
	border-right: 2px solid transparent;
	text-transform: capitalize;
	scroll-snap-align: start;
}

.recipe-card * + * {
	margin-top: 1rem;
}

.recipe-img-container {
	background-color: #f2d27b50;
	width: 400px;
	height: 260px;
	overflow: hidden;
}

.recipe-card img {
	width: 100%;
	height: auto;
}

.recipe-card-link {
	display: block;
	position: static;
	width: fit-content;
}

.recipe-card-link::before {
	cursor: pointer;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scroll-right.flex-content {
	align-items: center;
	justify-content: flex-end;
	margin-top: 0;
}

.svg-icon {
	fill: whitesmoke;
	width: 4rem;
	height: 4rem;
	margin: 1rem;
}

@media (max-width: 756px) {
	.pdr-3rem {
		padding-right: 3rem;
	}
}

@media (max-width: 576px) {
	.pdr-3rem {
		padding-right: 0;
	}

	.container.recipes {
		margin-left: auto;
	}

	.recipe-card {
		margin: 1rem;
	}

	.recipe-img-container {
		width: 55vw;
		height: auto;
	}

	.recipe-card-link::before {
		width: 60vw;
	}

	form.flex-content * {
		margin-top: 1rem;
	}

	.recipe-scroll-wrapper {
		min-height: 260px;
	}

	.svg-icon {
		margin-top: 0;
	}
}
