.container {
	padding-bottom: 8rem;
	width: 98vw;
	margin: 0 auto;
	text-align: left;
}

.container * + * {
	margin-top: 2rem;
}

.container.no-page,
.container.home {
	min-height: 80vh;
	max-width: 1200px;
}

.container.home {
	display: grid;
	align-items: center;
	text-align: center;
}

.no-cocktails {
	font-size: 12rem;
	text-shadow: 0 0 2rem black;
	line-height: 1.2;
}

.container.about,
.container.add-recipe {
	width: fit-content;
	margin-left: 8vw;
	margin-top: 4rem;
}

.flex-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 2rem;
}

.container.no-page {
	justify-content: space-around;
	flex-wrap: wrap-reverse;
	margin: 0 2%;
}

.search-bar {
	min-width: 80%;
	height: 3rem;
	padding: 0 1rem;
	font-size: initial;
	text-align: center;
	border-radius: 50px;
}

.buttons {
	margin-top: 0;
}

.buttons > * {
	margin: 1rem;
	margin-bottom: 0;
}

@media (max-width: 756px) {
	.flex-content {
		justify-content: center;
	}

	.flex-content * {
		margin-bottom: 1rem;
	}

	.container.about {
		margin: 0 2%;
		margin-top: 4rem;
	}
	.container.about h1 {
		text-align: center;
	}
}
