.container {
	padding-bottom: 8rem;
	width: 98vw;
	margin: 0 auto;
	text-align: left;
}

.container * + * {
	margin-top: 2rem;
}

.container.home {
	display: grid;
	align-items: center;
	min-height: 80vh;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.container.about {
	width: fit-content;
	margin-left: 8vw;
	margin-top: 4rem;
}

.flex-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 2rem;
}

.search-bar {
	min-width: 80%;
	height: 3rem;
	padding: 0 1rem;
	font-size: initial;
	text-align: center;
	border-radius: 50px;
}

.buttons {
	margin-top: 0;
}

@media (max-width: 756px) {
	.flex-content {
		justify-content: center;
	}

	.flex-content * {
		margin-bottom: 1rem;
	}

	.container.about {
		margin: 0 5%;
		margin-top: 4rem;
	}
	.container.about h1 {
		text-align: center;
	}
}
