.recipe-container {
	height: 500px;
	width: 100%;
	position: relative;
}

.recipe-scroll-wrapper {
	overflow: auto;
	white-space: nowrap;
	position: absolute;
}

.recipe-card {
	display: inline-block;
	max-width: 500px;
	margin: 1rem;
	padding: 2rem;
	padding-top: 0;
	padding-right: 0;
	text-align: left;
	border-left: 2px solid #f2d27b;
	text-transform: capitalize;
}
