header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f2d27b;
}

header li {
	display: inline-block;
	margin-left: 2rem;
}

header ul:last-child {
	margin-right: 2rem;
}

@media (max-width: 756px) {
	header {
		flex-direction: column;
		padding-bottom: 2rem;
	}
}
