* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #23242a;
	color: #eaeff0;
	position: relative;
	min-height: 100vh;
}

h1 {
	font-size: 3rem;
	margin-top: 2rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 2.5rem;
}
p {
	max-width: 65ch;
	line-height: 1.8;
	margin-bottom: 0;
}

li,
p,
a {
	font-size: 1.375rem;
}

a {
	color: #f2d27b;
	text-decoration: underline;
}

a.active {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #f2d27b;
}

button {
	font-size: initial;
	font-weight: bold;
	padding: 0.6rem 1rem;
	border-radius: 5px;
	background-color: #f2d27b;
	color: #23242a;
}

button:active {
	transform: scale(0.9);
}

ul {
	margin-bottom: 0;
}

img {
	width: 100%;
}

:focus {
	outline: 2px solid #eaeff0;
	outline-offset: 5px;
}

.logo > a {
	outline-offset: -10px;
}

input:focus {
	outline: 2px solid transparent;
	outline-offset: 4px;
	box-shadow: 0px 0px 0px 5px #23242a, 0px 0px 0px 7px #eaeff0;
}

.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@media (max-width: 576px) {
	html {
		font-size: 13px;
	}

	h3 {
		font-size: 2rem;
	}
}

/* Override Bootstrap */
@media (min-width: 1200px),
	(min-width: 992px),
	(min-width: 768px),
	(min-width: 576px) {
	.container {
		max-width: none;
	}
}
